/* adaptive sizing ig */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

body.light {
    background-color: white;
    color: black;
}

/* button */
button {
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
}

button:hover {
    text-decoration: underline;
}

.toggleTheme {
    position: fixed;
    top: 32px;
    right: 32px;
    float: right;
}

.farameer {
    position: fixed;
    top: 32px;
    right: 64px;
    float: right;
}

.back {
    position: fixed;
    top: 32px;
    right: 64px;
    float: right;
}

/* end of button */

.center {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    place-items: center;
    text-align: left;
}

.header > * {
    margin: 0;
}


.center > * {
    display: block;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    width: min(90vw, 550px);
}

.container div {
    padding-right: 10px;
    padding-left: 10px;
}

.container div.header {
    grid-area: header;
}

.container div.content {
    grid-area: content;
}

.container div.footer {
    grid-area: footer;
}

.container div.footer > * {
    margin: 0;
}